torch==1.10.2
scikit-learn==1.0.2
pandas==1.3.5
torch==1.10.2
rrcf==0.4.3
mmh3==3.1.0
matplotlib==3.4.3
numpy
tqdm==4.61.2
streamad==0.3.0
orange3==3.30
seaborn
-e ./Utils/river
-e ./Utils/IncrementalTorch